main {
    background: #282828;
}

.backgroundPage {
    padding-top: 150px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.leftPage {
    background-color: rgb(26, 26, 26);
    border: 15px solid rgb(26, 26, 26);
    display: flex;
    top: 10px;
    flex: 75%;
}

.showcase {
    display: flex;
    flex-direction: column;
    flex: 40%;
    gap: 10px;
}

.showcaseArt {
    display: block;
    border: 1px solid white;
    width: 100%;
    margin-left: auto;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    flex: 80%;
}

#moreInfoTitle_left {
    display: flex;
    flex-direction: column;
    height: 30px;
    max-width: 60%;
    width: 60%;
    margin: 0;
    padding-top: 0;
}

.aboutMe_box {
    flex: 50%;
    color: rgb(158, 158, 158);
    font-size: 15px;
    width: 95%;
}

.rightPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #273036;
    border: 10px solid #273036;
    flex: 10%;
}

.avatar {
    width: 100%;
    margin: 0;
}

.avatar img {
    display: block;
    margin: auto;
    border: 3px solid white;
    background-position: center;
    background-repeat: no-repeat;
    width: 98%;
}

.moreInfo {
    padding-bottom: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.moreInfo_name {
    display: block;
    color: white;
    font-size: 20px;
    font-family: font_title;
    border-bottom: 1px solid white;
}

.moreInfo_content {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    color: var(--grayColor);
}

.moreInfoContent_name {
    flex: 50%;
}

.moreInfoContent_value {
    flex: 50%;
    text-align: end;
}

.space {
    height: 200px;
}

#ban {
    padding-top: 5px;
    filter: brightness(0) invert(1);
    width: 25px;
    height: 25px;
}

.settingForm button {
    border: none;
    background: var(--blueGrayColor);
    padding: 10px;
}

.settingForm button img {
    transform: rotateY(180deg);
    width: 25px;
    height: 25px;
}

@media (max-width: 845px) {
    .rightPage {
        display: none;
    }

    .leftPage {
        width: 630px;
    }
}

@media (max-width: 1245px) {
    .leftPage {
        flex-direction: column;
    }

    .showcase {
        flex-direction: row;
    }

    .leftPage {
        width: 100%;
    }

    .showcaseSizing {
        flex: auto
    }
}

@media (max-width: 1440px) {
    .page {
        flex-direction: column;
    }

    .rightPage {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .userInfo {
        flex-direction: row;
    }

    .moreInfo {
        width: 30%;
    }

    .avatar {
        height: 100%;
        width: 15%;
    }
}