header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: var(--mainColor);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    margin-top: 100px;
    width: 65%;
    padding: 10px;
}

.setting-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

textarea {
    border: none;
    resize: none;
}

.importance-options {
    display: flex;
    gap: 10px;
}

.importance-options label {
    text-align: center;
    width: 100px;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    user-select: none;
    transition: all 1s;
}

.importance-options input {
    position: absolute;
    opacity: 0;
}

.importance-options label:has(input:checked) {
    background: rgb(0, 191, 255);
}

/*
    Save
*/

.save-button-zone {
    text-align: right;
}

.save-button {
    background: transparent;
    color: white;
    border: 1px solid white;
    width: 75px;
    height: 30px;
    transition: all 1s;
}

.save-button:hover {
    background: white;
    color: black;
}