/*
    Defining fonts
*/

@font-face {
    font-family: font_title;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: font_normal;
    src: url(../fonts/SUSE.ttf);
}

/*
    Accross all pages 
*/

:root {
    font-family: font_normal;
    --mainColor: rgb(31, 31, 31);
    --secondColor: rgb(26, 26, 26);
    --grayColor: rgb(158, 158, 158);
}

body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(/assets/images/home/space.png);
    backdrop-filter: blur(5px);
}

main {
    width: 100vw;
    min-height: 100vh;
}

input,
a,
button {
    text-decoration: none;
    color: white;
    user-select: none;
    background: transparent;
    border: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: font_title;
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(171, 171, 171);
}

::-webkit-scrollbar-track {
    background: var(--secondColor);
}

/*
    Navigation Bar
*/

header {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
}

.navbar.top img {
    width: 35px;
    height: 35px;
}

.navbar a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    transition: all 1.5s;
    font-size: 14px;
}

.navbar a:hover:not(.navbar.dropdown a) {
    font-size: 18px;
}

.navbar.bottom {
    width: 100%;
    justify-content: flex-end;
    transition: all 1s;
}

.navbar.account {
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 0 10px;
    user-select: none;
    color: white;
}

.navbar.account img {
    width: 15px;
}

.navbar.dropdown {
    position: absolute;
    flex-direction: column;
    top: 50px;
    right: 0;
    z-index: 100;
    width: 100%;
    background: white;
}

.navbar.dropdown a {
    padding: 5px;
    color: black;
}

.navbar.dropdown a:hover {
    color: white;
    background: var(--mainColor);
}

/*
    Footer
*/

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    background: var(--secondColor);
}

footer div {
    display: flex;
    width: 75%;
}

footer img {
    width: 25px;
    padding: 5px;
}

footer a {
    font-weight: 200;
    font-size: 12.5px;
    color: white;
    height: fit-content;
    margin: 5px;
    width: fit-content;
}

footer a:hover:not(:has(img)) {
    border-bottom: 1px solid gray;
}

.footer-right {
    justify-content: flex-end;
    width: 200px;
}

.footer-top {
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.footer-align {
    flex-direction: column;
}

.copyright {
    border-top: 1px solid rgb(48, 48, 48);
    padding: 15px 0;
    color: white;
    font-size: 10px;
}

/*
    Error Page
*/

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    gap: 25px;
}

.error p {
    color: var(--grayColor)
}

.error img {
    padding: 25px;
    width: 150px;
    border-right: 1px solid white;
}

.error a {
    user-select: auto;
}

/*
    Responsive
*/

@media (max-width: 768px) {
    .bottomPage {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}

@media (max-width: 530px) {
    header {
        flex-direction: column;
    }

    .navbar-left a {
        height: 50px;
    }

    #navbar-dropdown {
        top: 100px;
    }
}