@font-face {
    font-family: font_title;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: font_normal;
    src: url(../fonts/SUSE.ttf);
}

:root {
    height: 100%;
    overflow: hidden;
    font-family: font_normal;
    --mainColor: rgb(31, 31, 31);
    --secondColor: rgb(26, 26, 26);
    --grayColor: rgb(158, 158, 158);
    --blueGrayColor: rgb(39, 48, 54);
    --green: rgb(0, 199, 0);
}

body {
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

main {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: var(--secondColor);
}

header {
    display: flex;
    height: 50px;
    position: sticky;
    background: var(--secondColor);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(108, 108, 108);
}

::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.navBar_left img {
    width: 35px;
    height: 35px;
}

.navBar_left {
    display: flex;
    flex: 20%;
}

.navBar_left a {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 1.5s;
}

.navBar_left a:hover:not(.navBarLeft_img) {
    color: rgb(23, 23, 23);
    background: white;
}

.navBar_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 60%;
    color: white;
}

.navBar_right {
    text-align: right;
    align-content: center;
    padding-right: 10px;
    height: 50px;
    flex: 20%;
}

.navMenu {
    width: 25px;
    height: 25px;
    transition: transform .1s;
}

.navMenu:active {
    transform: rotate(90deg);
}

#dropDown {
    align-items: center;
    position: absolute;
    right: 15px;
    top: 56px;
    width: 225px;
    height: fit-content;
    background-color: var(--mainColor);
    border: 1px solid white;
    box-shadow: 0px 1px 10px 1px rgb(41, 41, 41);
    z-index: 100;
}

#dropDown a {
    background-color: var(--mainColor);
    border: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 10px;
    color: white;
    text-align: center;
    flex: 25%;
    padding: 10px;
}

#dropDown a:hover {
    background-color: white;
    color: var(--mainColor);
}

.windowInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    height: 20%;
    font-family: font_title;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgb(26, 26, 26, 1)), url(/assets/images/all/cheryl-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 10px;
    padding-bottom: 80px;
    min-height: 5%;
    background: var(--secondColor);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 15px;
    color: white;
    border-bottom: 1px solid white;
    width: 100px;
}

.bottomPage {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}

.bottomPage a {
    font-size: 10px;
    color: white;
    font-weight: 200;
}

@media (max-width: 768px) {
    .bottomPage {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        height: 500px;
    }
}