.browse {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.browse h2 {
    padding: 75px 0;
    color: white;
}

.browse label {
    color: white;
}

.searchbar {
    position: relative;
    margin: 0 auto;
}

.searchbar input:disabled {
    filter: blur(2px);
}

.browse input {
    outline: none;
    background: white;
    border-radius: 15px;
    width: 600px;
    height: 35px;
    padding: 10px;
    color: black;
}

.browse input.create {
    border-radius: 15px 15px 0 0;
}

.option {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35px;
    width: 100%;
    z-index: 100;
}

.option a,
.option span {
    color: black;
    padding: 5px 10px;
    transition: all 1s;
    background: white;
}

.option a:hover {
    color: white;
    background: rgb(116, 116, 116);
}

a.last {
    border-radius: 0 0 15px 15px;
}

.servers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0;
    gap: 50px;
    width: 85%;
}


/*
    Guild
*/

.guild {
    display: flex;
}

.guild.column {
    position: relative;
    flex-direction: column;
    width: 500px;
}


/*
    Top of guild
*/

.guild.top {
    height: 100px;
    background: rgb(26, 26, 26);
    border-radius: 28px 28px 0 0;
}

.guild.icon {
    position: absolute;
    border-radius: 20px;
    width: 100px;
    top: -10px;
    left: -10px;
    box-shadow: 2px 2px 2px white;
}

.guild.info {
    flex-direction: column;
    width: 75%;
    margin-left: 100px;
}

.guild.name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: white;
    white-space: nowrap;
    padding: 5px 0;
}

.guild.members {
    font-size: 12.5px;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 5px 0;
}

.guild.members img {
    height: 15px;
    width: 15px;
}

.guild.tags {
    flex-wrap: wrap;
    gap: 5px;
    color: white;
    overflow: hidden;
    padding: 5px 0;
}

.tags.nsfw {
    background: rgb(255, 30, 30);
}

.guild.tags span {
    padding: 2px 5px;
    border-radius: 5px;
}

.tags.normal {
    background: rgb(103, 103, 103);
}

/*
    Center of guild
*/

.guild.center {
    flex-direction: column;
    justify-content: space-between;
    background: rgb(26, 26, 26);
}

.guild.description {
    text-overflow: ellipsis;
    font-size: 12.5px;
    padding: 5px 15px;
    height: 100px;
    overflow: hidden;
    white-space: pre-line;
    color: rgb(202, 202, 202);
}

.guild.description.active {
    height: 100%;
}

.guild.button {
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.guild.button img {
    width: 10px;
    transform: rotate(-90deg);
    transition: all 1s;
}

.guild.button img.active {
    transform: rotate(90deg);
}

.guild.button:hover {
    background: linear-gradient(to left, rgb(26, 26, 26), rgb(39, 39, 39), rgb(26, 26, 26))
}

/*
    Bottom of guild
*/


.guild.bottom {
    justify-content: space-around;
    background: rgb(26, 26, 26);
    border-radius: 0 0 28px 28px;
    padding: 20px;
}

.guild.bottom a {
    justify-content: center;
    width: 90%;
    padding: 5px;
}

.guild.view {
    color: black;
    background: white;
    border-radius: 15px 0 0 15px;
}

.guild.join {
    color: white;
    background: rgb(79 171 189);
    border-radius: 0 15px 15px 0;
}

.guild.bottom a:hover {
    color: white;
    background: gray;
}

/*
    Page
*/

.page {
    display: flex;
    gap: 10px;
}

.page a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: black;
}