main {
    background: linear-gradient(rgb(255, 255, 255, 0.2), rgb(26, 26, 26, 1)), url(/assets/images/all/cheryl-blur.jpg);
}

.command {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    padding: 50px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background: var(--secondColor);
    border-radius: 50px;
}

.filterCommand {
    display: flex;
    align-items: end;
    margin: 0 auto;
}

.filterCommand_list {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    background-color: var(--secondColor);
    cursor: pointer;
    font-size: 15px;
    font-family: font_title;
    color: white;
    padding: 8px;
    transition: all 1.5s;
    width: fit-content;
    border: none;
    border-bottom: 1px solid white;
}

input:hover {
    background-color: white;
    color: var(--mainColor);
}

#listCommand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#noCommandSelected {
    opacity: 5%;
    color: #acacac;
    text-align: center;
    font-size: 20px;
}

.commandCategory {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    width: 70%;
    max-height: fit-content;
    margin: 0 auto;
}

.commandInfo_right {
    text-align: left;
    width: 50%;
}

.commandInfo_left {
    text-align: right;
    width: 50%;
}

.commandName {
    font-size: 12px;
    color: #3dff4a;
}

.commandDesc {
    font-size: 9px;
    color: #acacac;
}