.filterCommand {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

button {
    background-color: var(--mainColor);
    border: 5px solid var(--mainColor);
    cursor: pointer;
    font-family: font_normal;
    font-size: 15px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

button:hover {
    background-color: white;
    border: 5px solid white;
    color: var(--mainColor);
}

#noCommandSelected {
    display: block;
    padding: 10%;
    color: #acacac;
    text-align: center;
    opacity: 5%;
    font-size: 25px;
    font-family: font_normal;
}

.commandCategory {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    max-width: 375px;
    margin: 0 auto;
    font-family: font_normal;
}

.commandInfo_right {
    text-align: left;
    width: 50%;
}

.commandInfo_left {
    text-align: right;
    width: 50%;
}

.commandName {
    font-size: 12px;
    color: #3dff4a;
}

.commandDesc {
    font-size: 9px;
    color: #acacac;
}