.filterCommand {
    display: flex;
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding-top: 15px;
}

.command {
    background: white;
}

button {
    background-color: var(--secondColor);
    border: 5px solid var(--secondColor);
    cursor: pointer;
    font-size: 15px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 1.5s;
}

button:hover {
    background-color: white;
    border: 5px solid white;
    color: var(--mainColor);
}

.commandMenu {
    height: 60%;
}

#noCommandSelected {
    display: inline-block;
    opacity: 5%;
    width: 100%;
    color: #acacac;
    text-align: center;
    font-size: 20px;
}

.commandCategory {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    max-width: 375px;
    margin: 0 auto;
}

.commandInfo_right {
    text-align: left;
    width: 50%;
}

.commandInfo_left {
    text-align: right;
    width: 50%;
}

.commandName {
    font-size: 12px;
    color: #3dff4a;
}

.commandDesc {
    font-size: 9px;
    color: #acacac;
}