h1 {
    text-align: center;
    margin: 25px 0;
    color: white;
}

.servers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 65%;
    flex-wrap: wrap;
    gap: 25px;
}

.server {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    transition: all 1s;
}

.server img {
    width: 150px;
}

.server:hover {
    transform: scale(1.1);
    background: white;
    color: black;
}

.no-server {
    display: flex;
    align-items: center;
    color: var(--grayColor);
    opacity: 25%;
    height: 100vh;
}