main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    gap: 25px;
}

main img {
    width: 150px;
}

main div {
    padding: 0 25px;
    border-left: 1px solid white;
}

main p {
    color: gray;
}

main a {
    user-select: auto;
}