.guidelinesOption {
    color: white;
    height: 55%;
    width: 40%;
    margin: 0 auto;
}

.guidelinesOption p {
    color: rgb(249, 255, 69);
    text-align: justify;
}

.guidelinesOption_numbered {
    padding-bottom: 15px;
}

.guidelinesOption_numbered ul {
    color: var(--grayColor);
}