.cheryl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    height: 25%;
    background: transparent;
}

.login img {
    width: 120px;
}

.login a,
.login p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: white;
    color: var(--mainColor);
    border-radius: 5px;
}

.login a:hover {
    color: rgb(0, 128, 255);
}

.introduction {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
}

.introduction div {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    color: white;
}

.introduction p {
    font-size: 12.5px;
    color: var(--grayColor);
}

.introductionB {
    display: flex;
    font-size: 25px;
}

.introductionB_img {
    width: 100px;
    flex: 10%;
}

.introductionB_text {
    flex: 90%;
}

@media (max-width: 768px) {
    .introductionB_img {
        display: none;
    }
}

@media (max-width: 425px) {
    .login img {
        width: 100px;
    }

    .login p {
        font-size: 11px;
    }
}