.windowInfo {
    height: 100%;
}

.windowInfo_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    height: 50%;
}

.windowInfo_login img {
    width: 120px;
}

.windowInfo_login a,
.windowInfo_login p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: white;
    color: var(--mainColor);
    border-radius: 5px;
}

.windowInfo_login a:hover {
    color: rgb(0, 128, 255);
}

.introduction {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: url(/assets/images/home/background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    padding: 100px;
}

.introduction div {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    color: white;
}

.introduction p {
    font-size: 12.5px;
    color: var(--grayColor);
}

.introductionB {
    display: flex;
    font-size: 25px;
}

.introductionB_img {
    width: 100px;
    flex: 10%;
}

.introductionB_text {
    flex: 90%;
}

@media (max-width: 768px) {
    .introductionB_img {
        display: none;
    }
}

@media (max-width: 425px) {
    .windowInfo_logo {
        width: 100px;
        height: 100px;
    }

    .windowInfo_text {
        font-size: 30px;
    }

    .windowInfo_login img {
        width: 100px;
    }

    .windowInfo_login p {
        font-size: 11px;
    }
}