img {
    user-select: none;
}

.cheryl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cheryl p {
    text-align: center;
    width: 500px;
}

.cheryl p a {
    user-select: auto;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 40vh;
    background: var(--secondColor);
}

.login img {
    z-index: 1;
    height: 120px;
}

.login a,
.login span {
    z-index: 1;
    display: flex;
    padding: 15px;
    color: white;
}

.login a:hover {
    color: rgb(0, 128, 255);
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro.list {
    margin: 100px 0;
    gap: 100px;
}

.intro.single {
    margin: 0 auto;
    width: 80%;
}

.intro.single h2 {
    color: white;
}

.intro.single p {
    font-size: 12.5px;
    color: gray;
}

.intro.img {
    gap: 100px;
}

.intro.img div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.intro.img p {
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.intro.img img {
    width: 50%;
    border-radius: 15px;
    user-select: none;
}

.servers {
    display: flex;
}

.servers h2 {
    text-transform: uppercase;
}

.servers.background {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 300px;
    background: var(--secondColor);
    color: white;
}

.guild {
    display: flex;
}

.guild div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}

.guild.background {
    height: 100px;
    width: 300px;
    border-radius: 35px 10px 10px 10px;
}

.guild span {
    font-size: 12.5px;
    overflow: hidden;
}

.guild.members {
    align-items: center;
    gap: 5px;
}

.guild.img {
    border-radius: 35px;
    width: 100px;
    box-shadow: 3px 3px black;
}

.guild div img {
    width: 15px;
}