h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    color: white;
    font-family: font_title;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 100px;
}

.leaderboard-description {
    display: flex;
    justify-content: space-between;
    height: 40px;
    color: white;
    font-family: font_title;
    padding: 0 10px 0 10px;
}

.leaderboard-description div {
    display: flex;
}

.leaderboard-description div p {
    text-align: center;
    width: 100px;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 50px;
    color: white;
    background: #171717;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    border-radius: 50%;
    width: 35px;
}

.user-profile p {
    padding-left: 10px;
}

.user-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-stats p {
    text-align: center;
    width: 100px;
}