h1 {
    text-align: center;
    margin: 75px 0;
    color: white;
}

/*
    Leaderboard with the user as a child
*/

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto 150px auto;
    width: 75%;
}

/*
    User in the leaderboard
*/

.user {
    display: flex;
    height: 50px;
    width: 100%;
    color: white;
    transition: all 1s;
}

.user.real {
    flex-direction: column;
    padding: 0 10px 0 10px;
    background: rgb(28, 28, 28);
}

.user.real.clicked {
    color: rgba(255, 255, 255, 0);
    padding-bottom: 5px;
}

.user.real.clicked,
.user.details.clicked {
    height: 115px;
}

.user.level {
    padding-bottom: 5px;
}

.user.details {
    flex-direction: column;
    height: 0;
    overflow: hidden;
}

.user.details div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.user.padding {
    padding: 0 10px 0 10px;
}

.user.profile {
    align-items: center;
    gap: 10px;
}

.user.profile img {
    border-radius: 50%;
    width: 35px;
    user-select: none;
}

.user.stats {
    justify-content: flex-end;
}

.user.stats p {
    text-align: right;
    width: 100px;
}

/*
    No Leaderboard to show
*/

.no-leaderboard {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 5%;
    height: 100vh;
    width: 100vw;
    color: #acacac;
    font-size: 20px;
}