main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 150px auto 250px auto;
}

.guidelines {
    display: flex;
}

.guidelines.top,
.guidelines.bottom {
    flex-direction: column;
}

.guidelines.bottom {
    margin: 15px;
}

.guidelines.bottom h2 {
    color: white;
}

.guidelines.top h1 {
    color: white;
    text-transform: uppercase;
}

.guidelines.info {
    width: fit-content;
    color: black;
    background: #eed202;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}

.guidelines.rules {
    flex-direction: column;
    margin-bottom: 15px;
}

.guidelines.name {
    color: white;
    padding: 15px 0;
}

.guidelines.note {
    margin-left: 15px;
    color: gray;
}

.list {
    display: flex;
    flex-direction: column;
}

.list.padding {
    padding: 15px;
}