.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filter-setting {
    display: flex;
    margin: 30px 0;
}

.filter-setting-list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 auto;
}

input {
    font-family: font_normal;
}

.filter-setting input {
    background: transparent;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    font-family: font_title;
    color: rgb(161, 161, 161);
    padding: 8px;
    transition: all 1.5s;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    width: fit-content;
}

.filter-setting input:hover {
    color: white;
    border-bottom: 1px solid white;
    transform: rotate(2deg);
    transform: scale(1.05);
}

h4 {
    color: white;
}

#listCommand {
    display: flex;
    width: 100%;
}

.noSettingSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 5%;
    height: 100%;
    width: 100%;
    color: #acacac;
    font-size: 20px;
    user-select: none;
}

.all-settings {
    margin: 50px;
}

.save-button {
    position: absolute;
    z-index: 90;
    top: 100px;
    background: green;
    color: white;
    border: 1px solid white;
    width: 75px;
    height: 30px;
    border-radius: 20px;
}

.save-button-zone {
    display: flex;
    justify-content: center;
}

.setting-list {
    display: flex;
    flex-direction: column;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.setting {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    border: 1px solid rgb(27, 27, 27);
    border-radius: 5px;
    padding: 5px;
}

.setting-parameter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting h1 {
    font-size: 18px;
    color: var(--grayColor);
    padding-bottom: 10px;
}

.setting p {
    font-size: 12px;
    color: #acacac;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: 1px solid black;
    border-radius: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: green
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes switchToR {
    0% {
        background: red;
        transform: translate(0px);
    }

    100% {
        background: rgb(0, 162, 0);
        transform: translate(25px);
    }
}

@keyframes switchToL {
    0% {
        background: rgb(0, 162, 0);
        transform: translate(25px);
    }

    100% {
        background: red;
        transform: translate(0px);
    }
}

@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }

    .filterCommand_list {
        flex-direction: row;
    }
}