main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    color: white;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.status span {
    font-size: 20px;
}

.status img {
    height: 50px;
    box-shadow: 3px 2px 3px 3px rgba(31, 31, 31, 0.442);
    border-radius: 50%;
}